
<link rel="stylesheet" href="../styles/profile.css">
<!--页面头部-->
<div class="head ">
    <div class="head_left"><a href="##" class="glyphicon glyphicon-menu-left"></a></div>
    <h1 class="text-center">我的</h1>
</div>
<div class="profile container-fluid">
    <!--头部个人信息-->
    <div class="header row" ng-click="toLogin()">
        <img src="./image/perhead.png" alt="" class="head-img img-circle">
        <a class="profile-info">{{username}}</a>
        <a href=""></a>
    </div>
    <!--钱包余额-->
    <div class="wallet row" ng-if="loginstatus">
        <span class="wallettext col-xs-4 col-xs-offset-2">钱包：</span>
        <span class="balance col-xs-6">{{balance|currency:"￥"}}</span>
    </div>
    <!--地址列表-->
    <div class="address row" ng-if="loginstatus">
        <div class="address_title col-xs-12">
            <span class="glyphicon glyphicon-map-marker"></span>我的地址
        </div>
        <ul class="addresslist col-xs-12">
            <li class="address_li" ng-repeat="addr in addresslist">
                {{addr.address}}
                    <span class="glyphicon glyphicon-edit" ng-click="showmodel(addr.id,addr.address)"></span>
                </li>
            <li class="address_li address_add text-center" ng-click="showmodel('insert','')">
                <i class="glyphicon glyphicon-plus"></i>新增收货地址
            </li>
        </ul>
    </div>
    <div class="text-center" ng-if="!loginstatus">请先登录后进行操作</div>
    <!--退出按钮-->
    <div class="exit row" ng-if="loginstatus">
        <button class="exit_btn btn btn-default col-xs-12" ng-click="exit()">退出登录</button>
    </div>


</div>

<!--地址信息修改框-->
<div class="modal" ng-class="{in:modal,block:modal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modalHeader">
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <label class="label">{{oldaddress}}</label>
                <input type="text" class="form-control" placeholder="输入新地址" ng-model="newaddress">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="comfirmEdit(editId)">保存</button>
                <button type="button " class="btn btn-danger" ng-click="deleteAddr(editId)" ng-if="editId!='insert'">删除</button>
                <button type="button" class="btn btn-warning" ng-click="hidemodal()">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop in" ng-show="modal"></div>

