
<link rel="stylesheet" href="../styles/order.css">

<!--页面头部-->
<div class="head ">
    <div class="head_left"><a href="##" class="glyphicon glyphicon-menu-left"></a></div>
    <h1 class="text-center">订单</h1>
</div>
<div class="orderbody" ng-if="loginstatus">

    <!--订单卡片-->
    <div href="#" class="ordercard .container-fluid" ng-repeat="item in orderlist" name = '{{item.shopid}}'>
        <div class="ordercard-body row">
            <a href="#" class="ordercard-left col-xs-2">
                <img ng-src="{{item.imgsrc}}" class="img-rounded" alt="">
            </a>
            <div class="ordercard-right col-xs-10">
                <div class="ordercard-head">
                    <div class="ordercard-title">
                        <a href="#">{{item.shopname}}</a>
                        <span class="glyphicon glyphicon-menu-right"></span>
                        <p class="status" ng-hide="item.status!=1">正在处理订单</p>
                        <p class="status" ng-hide="item.status!=2">订单已送达</p>
                        <p class="status" ng-hide="item.status!=3">订单已取消</p>
                        <p class="datetime">{{item.date|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    </div>
                </div>
                <div class="ordergoodslist">
                    <!--订单商品-->
                    <div class="ordercard-detail" ng-repeat="goods in item.goodslist">
                        <span class="detail" >
                            <span class="goodsname">{{goods.name}}</span>
                            ×
                            <span clas5s="count">{{goods.quantity}}</span>
                        </span>
                        <span class="price">{{goods.quantity*goods.price|currency:'￥'}}</span>
                    </div>

                    <div class="ordercard-detail">
                        <span class="detail" >
                            <span class="goodsname">总价：</span>
                        </span>
                        <span class="price">{{sumPrice(item.id)|currency:'￥'}}</span>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 ordercard-bottom container">
                <div class="row">
                    <button class="btn btn-info col-xs-3 col-xs-offset-5">再来一单</button>
                    <button class="btn btn-warning col-xs-3" ng-if="item.status==1" ng-click="confirmOrder(item.id)">确认送达</button>
                    <button class="btn btn-warning col-xs-3" ng-if="item.status==2">评价服务</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--未登录提示-->
<div class="orderbody text-center" ng-if="!loginstatus">
    <div class="waring">
        <span>登录后查看外卖订单
        </span>
        <button class="btn btn-success" ng-click="toLogin()">立即登陆</button>
    </div>
</div>