<link href="styles/index.css" rel="stylesheet">
<!--头部-->
<header class="top">
    <div class="top_value">
        <div class="top_value_label">
            <svg viewBox="0 0 26 31" class="top_value_svg1">
                <path fill="#FFF" fill-rule="evenodd" d="M22.116 22.601c-2.329 2.804-7.669 7.827-7.669 7.827-.799.762-2.094.763-2.897-.008 0 0-5.26-4.97-7.643-7.796C1.524 19.8 0 16.89 0 13.194 0 5.908 5.82 0 13 0s13 5.907 13 13.195c0 3.682-1.554 6.602-3.884 9.406zM18 13a5 5 0 1 0-10 0 5 5 0 0 0 10 0z"></path>
            </svg>
            <span class="index_top_title">湖南省衡阳市蒸湘...</span>
            <svg viewBox="0 0 14 8" class="top_value_svg2">
                <path fill="#FFF" fill-rule="evenodd" d="M5.588 6.588c.78.78 2.04.784 2.824 0l5.176-5.176c.78-.78.517-1.412-.582-1.412H.994C-.107 0-.372.628.412 1.412l5.176 5.176z"></path>
            </svg>
        </div>
    </div>
</header>
<!--搜索框(吸顶的)-->
<div class="search-wrapper" id="search-wrapper-top">
    <div class="search-wrapper_box">
        <a href="#" class="search-wrapper_a container">
            <svg viewBox="0 0 16 16" class="search_svg">
                <path fill-opacity=".38" d="M14.778 13.732a.739.739 0 1 1-1.056 1.036l-2.515-2.565a.864.864 0 0 1-.01-1.206 4.894 4.894 0 0 0 1.357-3.651c-.126-2.492-2.156-4.52-4.648-4.647a4.911 4.911 0 0 0-5.16 5.163c.126 2.475 2.13 4.496 4.605 4.642.451.026.896-.008 1.326-.1a.739.739 0 0 1 .308 1.446c-.56.12-1.137.164-1.72.13-3.227-.19-5.83-2.815-5.995-6.042a6.39 6.39 0 0 1 6.71-6.715c3.25.165 5.884 2.8 6.05 6.048a6.37 6.37 0 0 1-1.374 4.3l2.12 2.161z"></path>
            </svg>
            <span class="search_span">搜索饿了么商家、商品名称</span>
        </a>
    </div>
</div>
<!--搜索框-->
<div class="search-wrapper" id="search-wrapper">
    <div class="search-wrapper_box">
        <a href="#" class="search-wrapper_a container">
            <svg viewBox="0 0 16 16" class="search_svg">
                <path fill-opacity=".38" d="M14.778 13.732a.739.739 0 1 1-1.056 1.036l-2.515-2.565a.864.864 0 0 1-.01-1.206 4.894 4.894 0 0 0 1.357-3.651c-.126-2.492-2.156-4.52-4.648-4.647a4.911 4.911 0 0 0-5.16 5.163c.126 2.475 2.13 4.496 4.605 4.642.451.026.896-.008 1.326-.1a.739.739 0 0 1 .308 1.446c-.56.12-1.137.164-1.72.13-3.227-.19-5.83-2.815-5.995-6.042a6.39 6.39 0 0 1 6.71-6.715c3.25.165 5.884 2.8 6.05 6.048a6.37 6.37 0 0 1-1.374 4.3l2.12 2.161z"></path>
            </svg>
            <span class="search_span">搜索饿了么商家、商品名称</span>
        </a>
    </div>
</div>
<!--大图-->
<div class="top_image">
    <div class="top_image_contain">
        <img src="image/indexTop.jpeg" class="bigPic">
    </div>
</div>
<!--菜单-->
<div class="index_carte">
    <div class="index_carte_contain container">
        <div class="row" id="index_type">
            <a href="#/index/1" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart1.jpeg" class="cart_image">
                </div>
                <span class="index_cart_span">美食</span>
            </a>
            <a href="#/index/2" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart2.jpeg" class="cart_image">
                </div>
                <span class="index_cart_span">晚餐</span>
            </a>
            <a href="#/index/3" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart3.webp" class="cart_image">
                </div>
                <span class="index_cart_span">果蔬生鲜</span>
            </a>
            <a href="#/index/4" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart4.jpeg" class="cart_image">
                </div>
                <span class="index_cart_span">医药健康</span>
            </a>
            <a href="#/index/5" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart5.jpeg" class="cart_image">
                </div>
                <span class="index_cart_span">大牌五折</span>
            </a>
        </div>
        <div class="row">
            <a href="#/index/6" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart6.webp" class="cart_image">
                </div>
                <span class="index_cart_span">浪漫鲜花</span>
            </a>
            <a href="#/index/7" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart7.jpeg" class="cart_image">
                </div>
                <span class="index_cart_span">麻辣烫</span>
            </a>
            <a href="#/index/8" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart8.jpeg" class="cart_image">
                </div>
                <span class="index_cart_span">地方菜系</span>
            </a>
            <a href="#/index/9" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart9.webp" class="cart_image">
                </div>
                <span class="index_cart_span">披萨意面</span>
            </a>
            <a href="#/index/10" role="button" class="cart_a">
                <div class="cart_container">
                    <img src="image/cart/cart10.webp" class="cart_image">
                </div>
                <span class="index_cart_span">地方小吃</span>
            </a>
        </div>
    </div>
</div>
<!--推荐商家-->
<div class="shoplist_title">
    <div class="shoplist_title_content">
        <div class="shoplist_title_hang"></div>
        <div class="shoplist_title_span">推荐商家</div>
        <div class="shoplist_title_hang"></div>
    </div>
</div>
<!--商家列表-->
<div class="shoplist">
    <div class="shoplist_content">
        <!--第一家商店-->
        <div class="shoplist_shop" ng-repeat="item in shopinfo | orderBy : type : orderboolean | filter : json">
            <div class="shoplist_top_top">
            <a href="menu.html#/menu/{{item.id}}/all">
                <div class="shop_top_left">
                    <div class="shop_top_left_content">
                        <img ng-src="{{item.imgsrc}}" class="shop_image">
                    </div>
                </div>
                <div class="shop_top_right">
                    <div class="shop_right_title">
                        <h3 class="shop_title_h3" ng-bind="item.name"></h3>
                    </div>
                    <div class="shop_right_star">
                        <span class="shop_star_star">评分：</span>
                        <span class="shop_star_grade" ng-bind="item.grade"></span>
                        <span class="shop_star_mouth">月售:</span>
                        <span class="shop_star_dang" ng-bind="item.sales"></span>
                        <span class="shop_star_dangdang">单</span>
                        <div class="shop_niaosong">蜂鸟专送</div>
                    </div>
                    <div class="shop_right_price">
                        <div class="shop_price_left">
                            ￥<span ng-bind="item.startprice"></span>元起送
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span>免配送费</span>
                        </div>
                        <div class="shop_price_right">
                            <span>709m</span>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span ng-bind="item.duration"></span>分钟
                        </div>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
<!--去顶部-->
<div class="ToTop">
            <img src="../image/totop.png" class="ToTop_image">
        </div>
