<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>饿了吧-登录</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/login.css">
</head>
<body ng-app="module.control.login" ng-controller="login">
    <div class="toback"  >
        <a href="javascript:history.go(-1)" class="glyphicon glyphicon-chevron-left"></a>
    </div>
    <div class="login_frame container">
        <div class="header row">
            <div class="header_logo col-xs-12">
                <img src="image/logo.png" alt="" class="col-xs-12">
            </div>
        </div>
        <form action="##" onsubmit="return false" class="login_form row text-center">
            <input type="text" class="form-control col-xs-12" placeholder="用户名"
                   name="name" id="name" ng-model="name">
            <input type="password" class="form-control col-xs-12" placeholder="密码"
                   name="pwd" id="pwd" ng-model="pwd">
            <input type="submit" class="btn btn-success col-xs-12" value="登录" ng-click="loginCheck()">
            <a href="https://github.com/ElebaOrganzation/Eleba.git">关于我们</a>
        </form>
    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./scripts/control/controlLogin.js"></script>
</body>
</html>