@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

@media (max-width: 500px) {
  .index_top_title {
    font-size: 22px; }

  .search_span {
    font-size: 21px; }

  .index_cart_span {
    font-size: 13px; }

  .shoplist_title_content {
    font-size: 13px; }

  .shop_image_span {
    font-size: 10px; }

  .shop_right_star {
    font-size: 12px; }

  .shop_title_h3 {
    font-size: 22px; }

  .shop_right_price {
    font-size: 13px; }

  .searchshop {
    font-size: 21px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .index_top_title {
    font-size: 25px; }

  .search_span {
    font-size: 22px; }

  .index_cart_span {
    font-size: 17px; }

  .shoplist_title_content {
    font-size: 17px; }

  .shop_image_span {
    font-size: 13px; }

  .shop_right_star {
    font-size: 15px; }

  .shop_title_h3 {
    font-size: 25px; }

  .shop_right_price {
    font-size: 16px; }

  .searchshop {
    font-size: 22px; } }
@media (min-width: 768px) and (max-width: 992px) {
  .index_top_title {
    font-size: 34px; }

  .search_span {
    font-size: 30px; }

  .index_cart_span {
    font-size: 23px; }

  .shoplist_title_content {
    font-size: 23px; }

  .shop_image_span {
    font-size: 18px; }

  .shop_right_star {
    font-size: 17px; }

  .shop_title_h3 {
    font-size: 27px; }

  .shop_right_price {
    font-size: 19px; }

  .searchshop {
    font-size: 30px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .index_top_title {
    font-size: 45px; }

  .search_span {
    font-size: 40px; }

  .index_cart_span {
    font-size: 33px; }

  .shoplist_title_content {
    font-size: 27px; }

  .shop_image_span {
    font-size: 23px; }

  .shop_right_star {
    font-size: 20px; }

  .shop_title_h3 {
    font-size: 30px; }

  .shop_right_price {
    font-size: 22px; }

  .searchshop {
    font-size: 40px; } }
@media (min-width: 1200px) {
  .index_top_title {
    font-size: 55px; }

  .search_span {
    font-size: 50px; }

  .index_cart_span {
    font-size: 43px; }

  .shoplist_title_content {
    font-size: 30px; }

  .shop_image_span {
    font-size: 30px;
    font-weight: 700; }

  .shop_right_star {
    font-size: 26px; }

  .shop_title_h3 {
    font-size: 54px; }

  .shop_right_price {
    font-size: 25px; }

  .searchshop {
    font-size: 50px; } }
body {
  width: 100%;
  /**搴曢儴**/ }
  body .top {
    width: 100%;
    height: 16vw;
    padding: 0.666667vw 5.733333vw 0;
    padding-bottom: 3vw;
    color: #ffffff;
    background-color: #0af; }
    body .top .top_value {
      width: 100%;
      height: 18vw; }
      body .top .top_value .top_value_label {
        width: 55.522vw;
        height: 18vw;
        line-height: 18vw;
        font-weight: 700;
        color: #ffffff; }
        body .top .top_value .top_value_label .top_value_svg1 {
          width: 3.466667vw;
          height: 4.133333vw; }
        body .top .top_value .top_value_label .index_top_title {
          margin: 0 1.333333vw;
          max-width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        body .top .top_value .top_value_label .top_value_svg2 {
          width: 1.866667vw;
          height: .933333vw;
          margin-top: 2vw; }
  body #search-wrapper-top {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none; }
  body .search-wrapper {
    width: 100%;
    height: 15vw;
    top: 0;
    z-index: 999;
    padding: 2vw 3.733333vw;
    margin: -.133333vw 0;
    background-color: #0af; }
    body .search-wrapper .search-wrapper_box {
      width: 90vw;
      height: 12vw;
      border-radius: .266667vw;
      background: #fff;
      position: relative; }
      body .search-wrapper .search-wrapper_box .search_svg {
        float: left;
        display: block;
        width: 6.532vw;
        height: 15vw;
        margin-top: -2vw;
        position: absolute;
        left: 4%;
        z-index: 999; }
      body .search-wrapper .search-wrapper_box .search-wrapper_a {
        display: block;
        width: 90vw;
        height: 12vw;
        text-decoration: none;
        position: relative; }
        body .search-wrapper .search-wrapper_box .search-wrapper_a .searchshop {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 90vw;
          height: 12vw;
          color: #999;
          line-height: 12vw;
          text-align: center; }
  body .top_image {
    width: 100%; }
    body .top_image .top_image_contain img {
      width: 100%;
      height: 100%; }
  body .index_carte {
    width: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #ffffff; }
    body .index_carte .index_carte_contain {
      width: 90%;
      margin: 0 auto; }
      body .index_carte .index_carte_contain .cart_a {
        position: relative;
        display: block;
        float: left;
        width: 20%;
        height: 24vw;
        cursor: pointer;
        text-decoration: none; }
        body .index_carte .index_carte_contain .cart_a .cart_container .cart_image {
          display: block;
          width: 100%; }
        body .index_carte .index_carte_contain .cart_a .index_cart_span {
          display: block;
          margin-left: 4vw;
          color: #666; }
  body .shoplist_title {
    width: 100%;
    height: 4vw;
    margin-top: -4vw;
    padding-left: 25vw; }
    body .shoplist_title .shoplist_title_content {
      display: block;
      height: 100%;
      margin: 0 auto; }
      body .shoplist_title .shoplist_title_content .shoplist_title_hang {
        display: block;
        float: left;
        width: 14%;
        height: 1vw;
        margin-top: 4vw;
        margin-right: 3vw;
        margin-left: 3vw;
        background-color: #999; }
      body .shoplist_title .shoplist_title_content .shoplist_title_span {
        display: block;
        float: left;
        margin-top: 3vw; }
  body .shoplist {
    width: 100%;
    padding-top: 5vw;
    margin-bottom: 25vw;
    background-color: #ffffff; }
    body .shoplist .shoplist_content {
      width: 90%;
      height: 100%;
      margin: 0 auto; }
      body .shoplist .shoplist_content .shoplist_shop {
        width: 90vw;
        height: 25vw;
        border-bottom: 1px solid slategray; }
        body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top {
          display: block;
          width: 100%;
          height: 90%;
          margin-top: 5%; }
          body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_left {
            display: block;
            float: left;
            width: 20%;
            height: 100%; }
            body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_left .shop_top_left_content {
              position: relative;
              width: 100%;
              height: 100%; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_left .shop_top_left_content .shop_image {
                display: block;
                width: 100%;
                height: 100%; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_left .shop_top_left_content .shop_image_span {
                display: block;
                width: 3vw;
                height: 3vw;
                border-radius: 3vw;
                background-color: red;
                color: #ffffff;
                position: absolute;
                top: -1.5vw;
                right: -1.5vw;
                text-align: center; }
          body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right {
            display: block;
            float: left;
            width: 80%;
            height: 100%;
            padding-left: 3%; }
            body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_title {
              display: block;
              width: 100%;
              height: 36%; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_title .shop_title_h3 {
                display: block;
                float: left;
                color: #333;
                font-weight: 700; }
            body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star {
              display: block;
              margin-top: 1vw;
              margin-bottom: -1vw;
              width: 100%;
              height: 30%;
              position: relative; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star .shop_star_star {
                position: absolute;
                bottom: 1vw;
                left: 0;
                color: red; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star .shop_star_grade {
                position: absolute;
                bottom: 1vw;
                left: 8vw;
                color: #999; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star .shop_star_mouth {
                position: absolute;
                bottom: 1vw;
                left: 15vw;
                color: #999; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star .shop_star_dang {
                position: absolute;
                bottom: 1vw;
                left: 23vw;
                color: #999; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star .shop_star_dangdang {
                position: absolute;
                bottom: 1vw;
                left: 29vw;
                color: #999; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_star .shop_niaosong {
                display: block;
                float: right;
                width: 12vw;
                height: 6vw;
                line-height: 6vw;
                text-align: center;
                background-color: #0af;
                color: #ffffff; }
            body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_price {
              display: block;
              width: 100%;
              height: 30%; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_price .shop_price_left {
                display: block;
                float: left;
                margin-top: 3vw; }
              body .shoplist .shoplist_content .shoplist_shop .shoplist_top_top .shop_top_right .shop_right_price .shop_price_right {
                display: block;
                float: right;
                margin-top: 3vw; }
  body .ToTop {
    position: fixed;
    right: 4vw;
    bottom: 20vw;
    width: 11vw;
    height: 11vw;
    border-radius: 11vw;
    background-color: #ffffff;
    border: 1px solid #999; }
    body .ToTop .ToTop_image {
      width: 7vw;
      height: 7vw;
      margin-left: 1.5vw;
      margin-top: 2vw; }

/*# sourceMappingURL=index.css.map */
